<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles.css">
        <title>File Metadata</title>
    </head>
    <body>
        <h1>File metadata</h1>
        <p>Upload a file then you'll be returned a JSON object with a name, type and size value of the file you uploaded.</p>
        <div class="form-cont">
            <form action="/api/fileanalyse" method="POST" enctype="multipart/form-data" class="form">
                <input type="file" name="upfile">
                <button>Upload</button>
            </form>
        </div>
    </body>
</html>
